<html lang="en">
<head>
<%- include("./partials/head.ejs") %>
</head>
<body>
<%- include("./partials/header") %>
  <h1>Welcome to the server</h1>

  <%- include("./partials/footer") %>
</body>
</html>