<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Server</title>
</head>

<body>
  <h1>Page test</h1>
  <form action="/test" method="post">
    <input type="text" name="nom" value="laine">
    <input type="text" name="prenom" value="Brice">
    <input type="submit" value="Ajouter">

    <hr>
    <br>
    <br>
  </form>
</body>

</html>
