
<form class="" method="post">
<div>
<%= listSelector %>
<% for (getInterface of getInterfaces) { %>
<% if (getInterface != "id") { %>
    <% if (listSelector[getInterface]) { %>
            <%- include('../form/select.ejs', {
                selector: listSelector[getInterface],
                getSelector: sendDatas[getInterface],
                getInterface,getInterface,
                label: getInterface,
            }) %>
            <hr>
        <% } else { %>
                <%- include('../form/input.ejs', {
                    sendData: sendDatas,
                    label: getInterface,
                    getInterface: sendDatas[getInterface]
                }) %>
            <% } %>
        <% } %>
<% } %>
</div>
<button type="submit" class="btn btn-primary">Ajouter</button>
</form>
